<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Об авторе</title>
    <link rel="icon" type="image/png" href="../static/images/icon.png" />
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;">
        <h1> Александр Топтунов</h1>
        <b2>
            Программная инжерения
            БПИ161
        </b2>
        <p><img src="../static/images/author.jpg" alt="Автор" height="360px" width="365px"></p>
    </div>

{% endblock %}
</body>
</html>