<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">

    <title>Generated</title>
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>

<h1>{{ user }}</h1>
<h2 id="f1">{{ gen }}</h2>
<h1 class="entry-title">{{ gen }}</h1>
<div id="formula"></div>

    <!-- Подключаем скрипты -->
<script>
  window.onload = function () {

    // находим элемент, в который будем рендерить формулу
    var el = document.getElementById("formula");

    // вызываем метод библиотеки для отображения формулы
        console.log("kek1");
    console.log(document.querySelector(".entry-title").textContent);
    katex.render(document.querySelector(".entry-title").textContent, el);


      }
    </script>

<h1>{{ user }}</h1>
<h2 id="f2">\\frac{\\left(\\frac{18}{x - 12} + 1\\right) \\left(x^{2} - 14 x + 24\\right)}{x + 6}</h2>
<div id="formula2"></div>

    <!-- Подключаем скрипты -->
    <script>
      window.addEventListener("load", function (params) {
        var e2 = document.getElementById("formula2");
        console.log("kek2");
        console.log(params);
        katex.render("\\frac{\\left(\\frac{18}{x - 12} + 1\\right) \\left(x^{2} - 14 x + 24\\right)}{x + 6}", e2);
      });
    </script>


<h1>{{ user }}</h1>
<h2 id="f3">{{ gen }}</h2>
<div id="formula3"></div>

    <!-- Подключаем скрипты -->
    <script>
      window.addEventListener("load", function () {
        var e3 = document.getElementById("formula3");
        console.log("kek3");
        console.log(document.getElementById("f3"));
        katex.render(document.getElementById("f3"), e3);
      });
    </script>


<h1>{{ user }}</h1>
<h2 id="f4">{{ example }}</h2>
<div id="formula4"></div>

    <!-- Подключаем скрипты -->
    <script>
        var e4 = document.getElementById("formula4");
        console.log("kek4");
        console.log(document.getElementById("f4"));
        katex.render(document.getElementById("f4"), e4);
    </script>
<h2>end</h2>
</body>
</html>