<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сгенерировать задания</title>
    <script>
        function get_tasks() {
            var num = document.getElementById("num").value;
            var type = document.getElementById("type");
            alert('done')
        }
  </script>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<form id="settings" action="/generate_taskset" method="get">
    <strong>Введите количество заданий</strong>
    {% if num %}
    <input name="num" id="num" value={{ num }} size="4"><br>
    {% else %}
    <input name="num" id="num" value="5" size="4"><br>
    {% endif %}
    <strong>Введите номер метода генерации (от 0 до 41, 42 - напечатает первые n методов, где n - количество заданий) </strong>
    {% if type %}
    <input name="type" id="type" value={{ type }} size="4"><br>
    {% else %}
    <input name="type" id="type" value="42" size="4"><br>
    {% endif %}
    <strong>Введите минимальное значение константы</strong>
    {% if xmin %}
    <input name="xmin" id="xmin" value={{ xmin }} size="4"><br>
    {% else %}
    <input name="xmin" id="xmin" value="-5" size="4"><br>
    {% endif %}
    <strong>Введите максимальное значение константы </strong>
    {% if xmax %}
    <input name="xmax" id="xmax" value={{ xmax }} size="4"><br>
    {% else %}
    <input name="xmax" id="xmax" value="5" size="4"><br>
    {% endif %}
    <button>Сгенерировать задания</button><br>
</form>
<br>
{% block tasks %}{% endblock tasks %}
{% endblock content %}

</body>
</html>