<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сгенерировать задания</title>
    <link rel="stylesheet" href="../static/styles/input_style.css">

</head>
<body>
{% extends 'base.html' %}

{% block content %}
<form id="settings" action="/generate_taskset" method="get">
    <strong>Введите количество заданий</strong>
    {% if num %}
    <input name="num" id="num" value={{ num }} size="4" required pattern="[0-9]{1,2}"><br>
    {% else %}
    <input name="num" id="num" value="5" size="4" required pattern="[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите минимальную сложность </strong>
    {% if min_comp %}
    <input name="min_comp" id="min_comp" value={{ min_comp }} size="4" required pattern="[0-9]+"><br>
    {% else %}
    <input name="min_comp" id="min_comp" value="10" size="4" required pattern="[0-9]+"><br>
    {% endif %}
    <strong>Введите максимальную сложность </strong>
    {% if max_comp %}
    <input name="max_comp" id="max_comp" value={{ max_comp }} size="4" required pattern="[0-9]+"><br>
    {% else %}
    <input name="max_comp" id="max_comp" value="30" size="4" required pattern="[0-9]+"><br>
    {% endif %}
    <strong>Введите текст задания </strong>
    <input name="text" id="text" value="{{ text }}" size="40"><br>
    <strong>Введите минимальное значение константы</strong>
    {% if xmin %}
    <input name="xmin" id="xmin" value={{ xmin }} size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% else %}
    <input name="xmin" id="xmin" value="-5" size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите максимальное значение константы </strong>
    {% if xmax %}
    <input name="xmax" id="xmax" value={{ xmax }} size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% else %}
    <input name="xmax" id="xmax" value="5" size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите номер варианта </strong>
    {% if xmax %}
    <input name="rnd" id="rnd" value={{ rnd }} size="4" required pattern="[0-9]{1,5}"><br>
    {% else %}
    <input name="rnd" id="rnd" value="42" size="4" required pattern="[0-9]{1,5}"><br>
    {% endif %}
    <strong>Разрешить корни </strong>
    {% if roots %}
    <input type="checkbox" name="roots" id="roots" checked><br>
    {% else %}
    <input type="checkbox" name="roots" id="roots"><br>
    {% endif %}
    <strong>Разрешить вещественные числа </strong>
    {% if floats %}
    <input type="checkbox" name="floats" id="floats" checked><br>
    {% else %}
    <input type="checkbox" name="floats" id="floats"><br>
    {% endif %}
    <strong>Разрешить две переменные </strong>
    {% if second_var %}
    <input type="checkbox" name="second_var" id="second_var" checked><br>
    {% else %}
    <input type="checkbox" name="second_var" id="second_var"><br>
    {% endif %}
    <strong>Показывать ответ </strong>
    {% if show_answers %}
    <input type="checkbox" name="show_answers" id="show_answers" checked><br>
    {% else %}
    <input type="checkbox" name="show_answers" id="show_answers"><br>
    {% endif %}
    <button>Сгенерировать задания</button><br>
</form>
<br>
{% block tasks %}{% endblock tasks %}
{% endblock content %}

</body>
</html>