<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сгенерировать задания</title>
    <link rel="stylesheet" href="../static/styles/input_style.css">

    <script>
        function get_tasks() {
            var num = document.getElementById("num").value;
            var type = document.getElementById("type");
            alert('done')
        }
  </script>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<form id="settings" action="/generate_taskset" method="get">
    <strong>Введите количество заданий</strong>
    {% if num %}
    <input name="num" id="num" value={{ num }} size="4" required pattern="[0-9]{1,2}"><br>
    {% else %}
    <input name="num" id="num" value="5" size="4" required pattern="[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите номер метода генерации (от 0 до 41, 42 - напечатает первые n методов, где n - количество заданий) </strong>
    {% if type %}
    <input name="type" id="type" value={{ type }} size="4" required pattern="[0-9]{1,2}"><br>
    {% else %}
    <input name="type" id="type" value="42" size="4" required pattern="[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите минимальное значение константы</strong>
    {% if xmin %}
    <input name="xmin" id="xmin" value={{ xmin }} size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% else %}
    <input name="xmin" id="xmin" value="-5" size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите максимальное значение константы </strong>
    {% if xmax %}
    <input name="xmax" id="xmax" value={{ xmax }} size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% else %}
    <input name="xmax" id="xmax" value="5" size="4" required pattern="[-]{0,1}[0-9]{1,2}"><br>
    {% endif %}
    <strong>Введите номер варианта </strong>
    {% if xmax %}
    <input name="rnd" id="rnd" value={{ rnd }} size="4" required pattern="[0-9]{1,5}"><br>
    {% else %}
    <input name="rnd" id="rnd" value="42" size="4" required pattern="[0-9]{1,5}"><br>
    {% endif %}
    <strong>Разрешить корни </strong>
    {% if roots %}
    <input type="checkbox" name="roots" id="roots" checked><br>
    {% else %}
    <input type="checkbox" name="roots" id="roots"><br>
    {% endif %}
    <strong>Разрешить вещественные числа </strong>
    {% if floats %}
    <input type="checkbox" name="floats" id="floats" checked><br>
    {% else %}
    <input type="checkbox" name="floats" id="floats"><br>
    {% endif %}
    <strong>Разрешить две переменные </strong>
    {% if second_var %}
    <input type="checkbox" name="second_var" id="second_var" checked><br>
    {% else %}
    <input type="checkbox" name="second_var" id="second_var"><br>
    {% endif %}
    <strong>Проверять на сложность </strong>
    {% if check_complex %}
    <input type="checkbox" name="check_complex" id="check_complex" checked><br>
    {% else %}
    <input type="checkbox" name="check_complex" id="check_complex"><br>
    {% endif %}
    <button>Сгенерировать задания</button><br>
</form>
<br>
{% block tasks %}{% endblock tasks %}
{% endblock content %}

</body>
</html>